{% extends 'core/layout.html' %}

{% block head_title %}Hobbyly {% endblock %}

{% block page_content %}
    <h1>Aviso legal</h1>
    <p>Titular del Sitio Web:
        Este sitio web es propiedad de Hobbyly, una plataforma digital destinada a que los usuarios compartan sus pasatiempos e intereses.</p>
        
    <p>    Correo de contacto: contacto@hobbyly.com
        Responsable del tratamiento de datos: Hobbyly</p>
        
    <p>   1. Objeto
        El presente Aviso Legal regula el acceso, navegación y uso del sitio web www.hobbyly.com (en adelante, el “Sitio Web”), así como las responsabilidades derivadas del uso de sus contenidos.
    </p> 
    <p>
        2. Condiciones de uso
        El acceso y navegación por este Sitio Web implica aceptar los términos y condiciones recogidos en el presente Aviso Legal. Si no estás de acuerdo con ellos, por favor, no accedas ni utilices este sitio.
        
        El usuario se compromete a utilizar el sitio de forma diligente, lícita y respetuosa, absteniéndose de realizar actividades que puedan dañar la imagen, intereses o derechos del titular o de terceros.
    </p>
    <p>  
        3. Propiedad intelectual e industrial
        Todos los contenidos de este sitio web (textos, imágenes, logotipos, marcas, código fuente, etc.) están protegidos por derechos de propiedad intelectual e industrial.
        
        Queda prohibida la reproducción, distribución, transformación o uso, total o parcial, de los contenidos del Sitio Web sin la autorización previa y por escrito del titular.
    </p> 
    <p>  
        4. Protección de datos personales
        En caso de que el usuario proporcione datos personales, estos serán tratados de conformidad con nuestra Política de Privacidad y de acuerdo con la legislación vigente en materia de protección de datos (como el Reglamento General de Protección de Datos - RGPD si aplica).
    </p> 
    <p>  
        5. Exclusión de responsabilidad
        Hobbyly no se responsabiliza de los daños y perjuicios que puedan derivarse del acceso o uso del contenido del sitio web. Tampoco garantiza la ausencia de virus u otros elementos que puedan causar alteraciones en los sistemas informáticos.
    </p> 
    <p> 
        6. Enlaces externos
        Este sitio web puede contener enlaces a páginas externas. Hobbyly no se responsabiliza del contenido ni de las políticas de privacidad de dichas páginas.
    </p>  
    <p>  
        7. Modificaciones
        Hobbyly se reserva el derecho a modificar, actualizar o eliminar el contenido de este Aviso Legal en cualquier momento y sin necesidad de previo aviso.
    </p> 
    <p>
        8. Legislación aplicable
        Este sitio se rige por la legislación del país en el que opera la empresa titular del sitio, y cualquier conflicto derivado del uso del mismo será sometido a los juzgados y tribunales competentes.</p>
{% endblock %}